{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Deadly Curiosity: {{ game_found.name }}{% endblock %}

{% block page_content %}
<div class = "page-header">
	<h1>{{ name }}: {% if game_found.has_completed %}Game Complete{% elif not game_found.has_begun %}Game Lobby{% else %}Game In Progress{% endif %}</h1>
</div>

<ul class="list-group">
{% for r in Registration.query.filter_by(game_id = game_found.id) %}
	<li class="list-group-item">
		{{ User.query.get(r.user_id).username }}
    	<span class="label label-default label-pill pull-s-right">{{ r.score }}</span>
  	</li>
{% endfor %}
</ul>

<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<form action = "{{ url_for('game_list') }}">
				<input type="Submit" class="btn btn-primary" value="Go Back To Game List">
			</form>
		</div>

{% if Registration.query.filter_by(user_id = current_user.id, game_id = game_found.id).first() == None %}
		<div class="col-sm-2">
			<form action = "{{ url_for('join_game', name=game_found.name) }}">
				<input type="Submit" class="btn btn-primary" value="Join Game">
			</form>
		</div>
{% endif %}

{% if Registration.query.filter_by(user_id = current_user.id, game_id = game_found.id).first() != None and game_found.owner != current_user and not game_found.has_begun %}
		<div class="col-sm-2">
			<form action = "{{ url_for('leave_game', name=game_found.name) }}">
				<input type="Submit" class="btn btn-danger" value="Leave Lobby">
			</form>
		</div>
{% endif %}

{% if game_found.owner == current_user and game_found.has_begun == False %}
		<div class="col-sm-2">
			<form action = "{{ url_for('start_game', name = game_found.name) }}">
				<input type="Submit" class="btn btn-primary" value="Begin Game">
			</form>
		</div>
{% endif %}

	</div>
</div>

{% endblock %}
